/* siempre arriba de todo colocar las variables $*/
h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

nav {
  background-color: darkred;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-link {
  color: goldenrod;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.navbar-nav .nav-link:hover {
  color: darkred;
}

body {
  background-color: goldenrod;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.esencia {
  grid-area: esencia;
}

.lema {
  grid-area: lema;
}

.link {
  text-decoration: none;
  color: darkslateblue;
  -webkit-transition: all .7;
  transition: all .7;
}

.link:hover {
  color: blueviolet;
}

.m-1 {
  color: darkslateblue;
}

footer {
  background-color: black;
}

footer .row {
  border-bottom: 1px solid gray;
}

footer .row u {
  color: deepskyblue;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes img {
  height: 25px;
  width: 25px;
  margin: 7px;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition-duration: .20s;
          transition-duration: .20s;
}

.redes img:hover {
  height: 35px;
  width: 35px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .birraRubia {
    grid-area: birraRubia;
  }
  .birraRoja {
    grid-area: birraRoja;
  }
  .birraNegra {
    grid-area: birraNegra;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 1em;
  }
  .nav-link {
    font-size: 1.2em;
    color: goldenrod;
  }
  .nav-link:hover {
    background-color: black;
    color: darkred;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: rgba(75, 2, 20, 0.747);
  }
  .nav-link {
    padding: 0.5em 1em;
    font-size: 1.4em;
  }
}

.body {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
      grid-template-areas: "header" "main" "footer";
}

.body .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.body .main .esencia {
  color: gold;
  background-color: red;
  padding: 80px;
  border-style: groove;
  border-color: gold;
  justify-items: center;
  margin: 10px;
  text-transform: uppercase;
}

.body .main .lema {
  color: black;
  background-color: red;
  padding: 20px;
  border: 2px solid black;
}

.body .main .sectionMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 15px;
  margin-top: 15px;
}

.body .main .sectionMain .logoBirras, .body .main .sectionMain .sub, .body .main .sectionMain .sub1, .body .main .sectionMain .sub2 {
  font-style: italic;
  padding: 30px;
  border: 5px solid black;
}

.body .main .sectionMain .sub {
  color: goldenrod;
  background-color: darkred;
}

.body .main .sectionMain .sub1 {
  color: darkred;
  background-color: black;
}

.body .main .sectionMain .sub2 {
  color: black;
  background-color: darkred;
}

.body .main .sectionMain .imagenBirra {
  height: 380px;
  width: 230px;
  border: black double;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .body {
    display: -ms-grid;
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 20px;
  }
  .body .main {
    display: -ms-grid;
    display: grid;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .body .main .sectionMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "birraRubia birraRoja birraNegra";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    gap: 15px;
    margin-top: 15px;
  }
}

@media (min-width: 1024px) {
  .sectionMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "birraRubia birraRoja birraNegra";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    gap: 15px;
    margin-top: 15px;
  }
  .sectionMain .imagenBirra {
    height: 50vw;
    width: 30vw;
    border: black;
    margin-top: 15px;
  }
  .logoMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "esencia lema";
  }
  .logoMain .lema {
    color: black;
    background-color: red;
    height: auto;
    border: 2px solid black;
    margin: 10px;
    padding: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
    text-align: center;
    text-transform: uppercase;
  }
  .logoMain .esencia {
    color: gold;
    background-color: red;
    height: auto;
    border-style: groove;
    border-color: gold;
    justify-items: center;
    margin: 10px;
    text-transform: uppercase;
  }
}

.carousel-inner img {
  max-height: 900px;
}
