/* siempre arriba de todo colocar las variables $*/
h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-link {
  color: goldenrod;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.navbar-nav .nav-link:hover {
  color: darkred;
}

.header {
  display: -ms-grid;
  display: grid;
  grid-area: header;
}

.footer {
  display: -ms-grid;
  display: grid;
  grid-area: footer;
}

.main {
  grid-area: main;
}

.esencia {
  grid-area: esencia;
}

.lema {
  grid-area: lema;
}

footer {
  background-color: black;
  font-size: .9em;
}

footer .link {
  text-decoration: none;
  color: darkgoldenrod;
  -webkit-transition: all .7;
  transition: all .7;
}

footer .link:hover {
  color: crimson;
}

footer .row {
  border-bottom: 1px solid gray;
}

footer .row span {
  color: darkgoldenrod;
}

footer .row h6 {
  color: crimson;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes .derechos {
  text-align: center;
  margin-top: .2em;
  margin-bottom: .2em;
  color: cornsilk;
}

footer .redes .linkRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes img {
  height: 25px;
  width: 25px;
  margin: 7px;
  text-decoration: none;
  font-size: 1rem;
  -webkit-transition-duration: .20s;
          transition-duration: .20s;
}

footer .redes img:hover {
  height: 35px;
  width: 35px;
  margin: 0;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 0;
    padding: 1em;
  }
  .nav-link {
    font-size: 1.2em;
    color: goldenrod;
  }
  .nav-link:hover {
    background-color: black;
    color: darkred;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .redes .derechos {
    font-size: 1.3em;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    padding: 0.5em 1em;
    font-size: 1.4em;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 600px;
  width: 100%;
  background-image: url(../img/fondoindexmobile.png);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: local;
  background-repeat: no-repeat;
}

.body section {
  min-height: 100vh;
}

.body footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  .body {
    height: 1800px;
    background-image: url(../img/fondoindex.png);
    background-size: 100% 100%;
  }
}

.carousel-inner img {
  max-height: 900px;
}
