*{  
    box-sizing: border-box;
    padding: 0%;
    margin:0%
}

$titles: (
    h1: 3em,
    h2: 2.5em,
    h3: 2em
);
@each $heading, $size in $titles {
    #{$heading} {
        font-size: $size;
    }
}

.offcanvas{
    background-color:rgb(226, 58, 45);
    opacity: 0.9;
}

.offcanvas-start{
    width: 190px;
}

.navbar-dark{
    img{
        height: 80px;
        width: 70px;
    }
    .navbar-nav{
        align-items: center;
        .nav-link{
            color: goldenrod;
            transition: all .7s;
            &:hover{
                color: darkred;
            }
        }
    }
}

footer{
    background-color: black;
    font-size: .9em;
    .link{
    text-decoration: none;
        color: darkgoldenrod;
        transition: all .7;
            &:hover{
                color: crimson;
            }
    }
    .row{
        border-bottom: 2px solid gray;
        span{
            color: darkgoldenrod;
        }
        h6{
            color: crimson;
        }
    }
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .derechos{
            text-align: center;
            margin-top: .2em;
            margin-bottom: .2em;
            color: cornsilk;
        }
        .linkRedes{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        img{
            height: 25px;
            width: 25px;
            margin: 7px;
            text-decoration: none;
            font-size: 1rem;
            transition-duration: .20s;
            &:hover{
                height: 35px;
                width: 35px;
                margin: 0;
            }
        }
    } 
}

@media (min-width:768px){
    .navbar-dark{
        img{
            height: 100px;
            width: 90px;
        }
        .navbar-brand{
            margin-right: 0;
            padding: 1em;
        }
        .nav-link{
            font-size: 1.2em;
            color: goldenrod;
            &:hover{
                background-color: black;
                color: darkred;
            }
        }
    }
    
    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .derechos{
            font-size: 1.3em;
        }
    }
} 

@media (min-width: 1024px) {
    .navbar-dark{   
        img{
            height: 120px;
            width: 110px;
        }
        .nav-link{
            padding: 0.5em 1em;
            font-size: 1.8em;
            }
    }
}