$titles: (
    h1: 4em,
    h2: 3em,
    h3: 2em
);
@each $heading, $size in $titles {
    #{$heading} {
        font-size: $size;
    }
}

*{  
    box-sizing: border-box;
    padding: 0%;
    margin:0%
}


    .navbar-nav{
        align-items: center;
        .nav-link{
            color: goldenrod;
            transition: all .7s;
            &:hover{
                color: darkred;
            }
        }
    }


.header{
    display: grid;
    grid-area: header;
}
.footer{
    display: grid;
    grid-area: footer;
}
.main{
    grid-area: main;
}
.esencia{
    grid-area: esencia;
}
.lema{
    grid-area: lema;
}


footer{
    background-color: black;
    font-size: .9em;
    .link{
    text-decoration: none;
        color: darkgoldenrod;
        transition: all .7;
            &:hover{
                color: crimson;
            }
    }
    .row{
        border-bottom: 1px solid gray;
        span{
            color: darkgoldenrod;
        }
        h6{
            color: crimson;
        }
    }
    .redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .derechos{
            text-align: center;
            margin-top: .2em;
            margin-bottom: .2em;
            color: cornsilk;
        }
        .linkRedes{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        img{
            height: 25px;
            width: 25px;
            margin: 7px;
            text-decoration: none;
            font-size: 1rem;
            transition-duration: .20s;
            &:hover{
                height: 35px;
                width: 35px;
                margin: 0;
            }
        }
    } 
}



@media (min-width:768px){


    .navbar-brand{
        margin-right: 0;
        padding: 1em;
    }
    .nav-link{
        font-size: 1.2em;
        color: goldenrod;
        &:hover{
            background-color: black;
            color: darkred;
        }
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .derechos{
            font-size: 1.3em;
        }
    }

} 


@media (min-width: 1024px) {



    .nav-link{
        padding: 0.5em 1em;
        font-size: 1.4em;
        }

}