.body {
    display: flex;
    flex-direction: column;
    // grid-template-rows: auto 1fr auto;
    // grid-template-areas: 
    // "header"
    // "main"
    // "footer";
    // position: absolute;
    height: 600px;
    width: 100%;
    background-image: url(../img/fondoindexmobile.png);
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: local;
    background-repeat: no-repeat;
    


    section{
        min-height: 100vh;
    }

    footer{
        margin-top: auto;
    }
}

@media (min-width:768px){
    .body{
        height: 1800px;
        background-image: url(../img/fondoindex.png);
        background-size: 100% 100%;
    }
}